@import 'styles/load';



// *
//   @extends $iceberg
//   @extends $iceberg-font-color
  



  
// header ~ *
//   // background-color bg-color
//   border-top solid thick orange
//   @extends $full-width


// #zen-intro
//   color font-color
  
//   header
//     @extends $center-text
    
//     h1
//       @extends $center-text

//     h1::before
//       content "You've reached the top of the"
//       text-shadow none
//       font-size 25px
//       display block
      
//     h2
//       font-size 0.7em
//       color #0097fb
//       text-align center
//       margin -2.1em auto 60px

//   .summary
//     font-size 0.5em
//   .preamble
//     // background teal

// #zen-supporting
//   // background green

// aside.sidebar
//   // background orange
  
// ul, .select, footer
//   list-style none
//   display flex
//   justify-content space-around
//   align-items center
//   flex-direction row
  

// a
//   text-decoration none
//   color rgb(60, 148, 195)
  
// aside 
//   background-color rgba(170,0,255,0.8)

//   .design-name
//     text-transform uppercase
  
//   .designer-name
//     color black