$mountain-bg
  // margin-top 50px
  // background-color hsl(202.9, 81.3%, 37.8%)
  background url("http://netdna.webdesignerdepot.com/uploads/2013/11/picjumbo.com_DSC_3274.jpg")
  background-attachment fixed
  
$blur-bg
  -webkit-filter blur(3px)
  
$clip-bg
  background-clip padding-box

h2
  $clip-bg