$primary-color = rgb(20, 102, 171)
$header-background-color = rgb(5, 48, 84);
$header-text-color = snow
$footer-background-color = rgb(5, 48, 84) // dark blue
$footer-text-color = snow
$secondary-color-1 = rgb(38, 35, 183) //purple
$secondary-color-2 = rgb(48, 197, 137) // green
$primary-font-color = #09497E
$background-color-1 = rgba(20, 102, 171,0.8)  // transparent blue color
$background-color-2 = rgba(255,250,250,0.8) // transparent snow color
$background-color-3 = rgba(255,250,250,0.9) // transparent snow color
$aside-background-color = rgb(13, 11, 91) // dark purple


$bg-color
    background-color rgba(5, 80, 120, 0.7)
    

h1, h2, h3, h4, h5, h6
    color $primary-color
    
p
    color: $primary-font-color
    
a
    color: $secondary-color-2
    
// a:hover
//     color: $secondary-color-2
    
header
    background-color: $background-color-1
    
.summary, .preamble
    // background-color: $header-background-color
    background-color: $background-color-1

// .intro h1
//     color $primary-color
    
.preamble, .supporting//, aside
    background-color $background-color-2
    
.intro h2, .summary p //, .intro h3, .intro p, .intro a
    color: $header-text-color // snow
    
footer
    background-color: $footer-background-color//$footer-background-color

footer a
    color: $footer-text-color

aside
    background-color $aside-background-color //$aside-background-color
    

aside  li
    color gray